:root{
  --primary-color:#87b5b5;
  --secondary-color:black;
  --header-color:#4aa3a3;
  --box-shdow:1px 1px 10px 2px #3a5f5f;
}

body{
  margin:0;
}
.container{
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  place-items: center;
  padding-top:2rem ;

}

.flex{
  display: flex;
}

.editor {
  min-width: 200px;
  
}
.editor .editor-content{
  flex-direction: column;
}
.editor-header{
  padding: .5rem;
  justify-content: space-between;
  background-color: var(--header-color);
  border:1px solid black;
  box-shadow: var(--box-shdow);
}

textarea{
  resize: vertical;
  background-color: #c0d8d8;
  min-height: 200px;
  
}
.previewer{
  width: 80%;
  background-color: #c0d8d8;
  margin-top: 20px;
 

  
}
.previewer-content{
  padding: 1rem;
   overflow-y: auto;
max-height: 400px;

}
.previewer p img{
  max-width: 80%;

}
.previewer pre, .previewer code{
    background-color: white;
    padding: 0.2rem .5rem;
}
